
    <h1>Stoic Buck</h1>
    <p>
      This is the home page the
      <a href="http://localhost:3000">Share App</a>
      .
    </p>
  
	<%= link_to "Create an Account", '#', :class => "signup_button round" %>
